@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Day Mode (Clinical White) */
        --bg-dashboard: 245 247 250;
        --bg-slot: 255 255 255;
        --bg-dim: 240 242 245;

        --text-main: 15 23 42;
        --text-dim: 100 116 139;

        --border-din: 226 232 240;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            /* Night Mode (Obsidian) */
            --bg-dashboard: 10 10 12;
            --bg-slot: 18 18 21;
            --bg-dim: 24 24 27;

            --text-main: 248 250 252;
            --text-dim: 148 163 184;

            --border-din: 45 45 50;
            /* Subtle tech border */
        }
    }

    body {
        @apply bg-dashboard-matte text-content-main font-sans antialiased selection:bg-signal-orange selection:text-white;
    }
}